<h2>Register page</h2>
<form action="/signUp" , method="post">
    <input type="text" placeholder="birthDate" name="birthDate">
    <input type="text" placeholder="nickname" name="nickname">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="password" name="password">
    <input type="text" placeholder="province" name="province">
    <input type="text" placeholder="sex" name="sex">
    <input type="submit">
</form>